<!--Navbar-->
<style>
    .custom-navbar {
        background-color: #582c83; 
        color: white;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-info custom-navbar">
    
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">AETHR Lab Inventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'dashboard-staff' %}">Order List <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'equipment_page' %}">Equipment <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'admin' %}">Admin Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!--End Navbar-->
<br>
<!--Topside-->
<div class="container custom">
    <div class="row mt-12">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header custom-navbar text-white">
                    Information
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="" style="font-size: 36px; font-weight: bold;">
                        {{ marquee_text.text }}
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->
